@font-face {
    font-family: 'NoteraPersonalUseOnly';
    src: url('assets/fonts/NoteraPersonalUseOnly.eot');
    src: url('assets/fonts/NoteraPersonalUseOnly.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/NoteraPersonalUseOnly.woff') format('woff'),
         url('assets/fonts/NoteraPersonalUseOnly.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('assets/fonts/Raleway-Regular.eot');
    src: url('assets/fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Raleway-Regular.woff') format('woff'),
         url('assets/fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('assets/fonts/Raleway-SemiBold.eot');
    src: url('assets/fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Raleway-SemiBold.woff') format('woff'),
         url('assets/fonts/Raleway-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url('assets/fonts/Raleway-ExtraBold.eot');
    src: url('assets/fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Raleway-ExtraBold.woff') format('woff'),
         url('assets/fonts/Raleway-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Raleway-Light';
    src: url('assets/fonts/Raleway-Light.eot');
    src: url('assets/fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Raleway-Light.woff') format('woff'),
         url('assets/fonts/Raleway-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('assets/fonts/Raleway-Bold.eot');
    src: url('assets/fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Raleway-Bold.woff') format('woff'),
         url('assets/fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Praxis-SemiBold';
    src: url('assets/fonts/Praxis-SemiBold.eot');
    src: url('assets/fonts/Praxis-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Praxis-SemiBold.woff') format('woff'),
         url('assets/fonts/Praxis-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #000;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#loading
{
    background-color: white;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1170;
    text-align: center;
    background-color: #fff;
    /*background-color: #EBEBEB;*/
    /*display: none;*/
}

a:hover, a:focus
{
    text-decoration: none !important;
}

.container
{
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.main_div
{
  background-color: #17191b;
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.nav_bar
{
  /*background-color: #17191b;*/
  width: 100% !important;
  top: 0;
  /*position: relative;*/
  position: fixed;
  z-index: 999;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 1%;

  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.nav_bar_empty
{
  width: 100%;
  /*display: none;*/
}

.mobile_nav, .fake_head
{
  display: none;
}


.nav_bar_slide
{
  background-color: #17191b !important;
}

.arrow-up-left
{
  width: 0%;
  top: 0;
  right: 0;
  border-left: 0px solid transparent;
  border-top: 0px solid #17191b;
  position: absolute;

  -webkit-transition: border-top-width 1s; /* Safari */
  transition: border-top-width 1s;
}

.arrow-up-right
{
  width: 0%;
  top: 0;
  left: 0;
  border-right: 0px solid transparent;
  border-top:  0px solid #17191b;
  position: absolute;

  -webkit-transition: border-top-width 1s; /* Safari */
  transition: border-top-width 1s;

}

.navbar 
{
  margin-bottom: 0;
}

.navbar-nav
{
  width: 100%;
}
.navbar-brand
{
  height: auto !important;
}

.navbar-nav > li
{
  float: none; 
  display: inline-block;
  text-align: center;
}

.navbar-nav > li a
{
  padding: 0;
}

.nav_arrow
{
  display: none;
  position: absolute;
  width: 15px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -10px;
}

.logo_nav 
{
  width: 8%;
  margin-right: 7%;
  margin-left: 3%;
}

.logo_nav  img
{
  width: 100% !important;
}

.menu_items
{
  margin-right: 6%;
}

.menu_items:hover .nav_arrow, .active_menu .nav_arrow
{
  display: block;
}

.menu_items a
{
  font-family: 'Raleway-SemiBold';
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
}

.nav > li > a:hover
{
      background-color: transparent;
      opacity: 0.75;
}

.nav > li > a:hover, .nav > li > a:focus
{
      background-color: transparent;
}

.footer
{
  background-color: #17191b;
  width: 100% !important;
  height: 22%;
  position: relative;
}


.arrow-up-left_footer
{
  width: 0; 
  height: 0; 
  right: 0;
  bottom: 0;

  border-left: 5px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 5px solid #17191b;

  position: absolute;

  -webkit-transition: border-top-width 1s; /* Safari */
  transition: border-top-width 1s;
}

.arrow-up-right_footer
{
  width: 0; 
  height: 0; 
  left: 0;
  bottom: 0;

  border-left: 0px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #17191b;

  position: absolute;

  -webkit-transition: border-top-width 1s; /* Safari */
  transition: border-top-width 1s;
}

.footer_div_1
{
  text-align: center;
  width: 100%;
  top: -20%;
  position: absolute;
}

.footer_div_1 span
{
  font-family: 'NoteraPersonalUseOnly';
  color: #fff;
  font-size: 50px;
}

.footer_img_div
{
  position: relative;
  text-align: center;
}

.footer_img_div img
{
  display: inline-block;
  margin-right: 3%;
  height: 27px;
  margin-left: 2%;
}


/*.footer_img_div .active_imgs:hover
{
  cursor: pointer;
  opacity: 0.75;
}*/

.footer_img_div .active_imgs
{
  display: none;
}

.footer_copy_div
{
  position: absolute;
  bottom: 6%;
  left: 2%;
  text-align: left;
}

.footer_copy_div span
{
  font-family: 'Praxis-SemiBold';
  color: #989898;
  font-size: 10px;
}

.close_btn_new, .close_btn_new:hover, .close_btn_new:focus
{
  position: absolute;
  top: -6px;
  right: -6px;
  z-index: 200000;
  background-color: transparent !important;
  border: none  !important;
}

@media only screen and (max-width: 960px) {

  .menu_items a
  {
    font-size: 15px;
  }

}

@media only screen and (max-width: 850px) {

  .menu_items a
  {
    font-size: 13px;
  }

}
@media only screen and (max-width: 768px) {

  .arrow-up-right, .arrow-up-left, .arrow-up-right_footer, .arrow-up-left_footer
  {
      border-top-width: 60px !important;
  }

  .arrow-up-right, .arrow-up-left
  {
    display: none;
  }

  .mobile_nav, .fake_head
  {
    display: block;
  }

  .navbar-header
{
  /*height: 180px;*/
  background-color: #000;
}

.navbar-default
{
  border: none;
}

.nav_bar_empty
{
  display: none !important;
}
.navbar-brand
{
  display: block;
  /* height: inherit; */
  /* height: 120px; */
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  width: 100%;
  /*margin-top: 20px;
  margin-bottom: 40px;*/
}

.navbar-brand > img 
{
    display: block;
    /*width: 30%;*/
    width: 90px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-toggle 
{
  position: relative;
  float: none; 
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;
  border: none;
  color: #1d1d1b !important;
}

.navbar-toggle:focus, .navbar-toggle:hover
{
  background-color: transparent !important;
  border: none !important;
  color: #1d1d1b !important;
}

#navbar
{
  background-color: #fff;
  border: none;
}

.nav > li 
{
  text-align: center;
}

.nav > li:hover, .navbar-toggle:hover
{
  opacity: 0.75
}

.navbar-nav > li > a
{
  letter-spacing: 3px;
  color: #1d1d1b !important;
  text-transform: uppercase;
}

.navbar-nav
{
  margin-right: 0;
  margin-left: 0;
}

.navbar-nav > li
{
  display: block;
  margin-bottom: 10px;
}

.navbar-nav > li.active_nav
{
  background-color: #000;
}

.navbar-nav > li.active_nav > a
{
  color: #fff !important;
}

  .title_span_div span
  {
    font-size: 22px;
  }

  .con_divs span
  {
    font-size: 14px;
  }

  .maps
  {
    min-height: 48%;
  }

  .arrow-up-right_footer, .arrow-up-left_footer
  {
    display: none;
  }

  .footer 
  {
    padding: 20px;
    padding-top: 10px;
    height: initial !important;
    position: relative;
  }

  .footer_div_1 
  {
    text-align: center;
    width: 100%;
    top: initial; 
    position: relative;
  }

  .footer_div_1 span
  {
    font-size: 42px;
  }

  .footer_img_div img 
  {
    height: 22px;
  }

  .footer_copy_div 
  {
    position: relative;
    bottom: initial;
    left: initial;
    margin-top: 15px;
    text-align: center;
  }
  
  .footer_copy_div span
  {
    font-size: 9px;
  }

  .popup_wrapper
  {
    /*height: 75% !important;*/
    overflow: scroll !important;
    right: 0px !important;
    bottom: 0px !important;
    margin: auto !important;
  }
}

@media only screen and (max-width: 480px) {

  .main_div_2
  {
    /*padding-top: 9%;*/
  }
}

@media only screen and (max-width: 400px) {

  .footer
  {
    height: 19%;
  }
  
  .footer_div_1 span
  {
    font-size: 40px;
  }

  .footer_img_div img
  {
    height: 24px;
  }
}

@media only screen and (max-width: 320px) {


  .title_span_div span
  {
    font-size: 16px;
  }

  .con_divs span
  {
    font-size: 14px;
  }
}
