.main_div_2
{
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../img/main_bg.jpg'); 
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  
  position: relative;
  padding-top: 5%;
}

.title_span_div
{
  text-align: center;
}

.title_span_div span
{
  color: #fff;
  font-size: 30px;
  letter-spacing: 1px;
  text-decoration: underline;
  font-family: 'Raleway-SemiBold';
  text-transform: uppercase;
}

.title_span_div span
{
    text-decoration: none;
    position: relative;
}
.title_span_div span:after
{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-width: 0 0 1px;
  border-style: solid;
}

.client_list_div
{
  text-align: center;
  margin-top: 7%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20%;
}

.title_div_1, .title_div_2
{
  text-align: left;
}

.title_div_1 span, .title_div_2 span
{
  display: block;
}

.title_div_1_span_1, .title_div_2_span_1
{
  font-family: 'NoteraPersonalUseOnly';
  color: #fff;
  text-transform: lowercase;
  font-size: 35px;
}

.title_div_1_span_2, .title_div_2_span_2
{
  font-family: 'Raleway-Regular';
  color: #fff;
  text-transform: uppercase;
  margin-top: -20px;
  padding-left: 1%;
  font-size: 23px;
}

.title_div_2_span_2
{
  padding-left: 2.5%;
}

.who_we_are_div
{
  padding: 20px;
}

.who_we_are_left_div, .who_we_are_right_div
{
  padding-left: 10px;
  padding-right: 0;
}

.who_we_are_div ul
{
  padding: 0;
}

.who_we_are_div ul li 
{    
  background: url(../img/nav_arrow_li.png) no-repeat top left 8px;
  padding-left: 22px;
  display: block;
  background-size: 7px;
}

/*.who_we_are_div ul li{
   list-style: none;
}
.who_we_are_div ul li:before{
   content: '';
   display: inline-block;
   height: 15px;
   width: 8px;
   background-image: url('../img/nav_arrow_li.png');
}*/

.who_arrow
{
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.who_we_are_div p
{
  font-family: 'Raleway-Regular';
  color: #fff;
  text-align: justify;
  font-size: 13px;
  display: inline-table;
}

.dl_port_div
{
  text-align: center;
}

.dl_port_div_span
{
  font-family: 'Raleway-ExtraBold';
  /*color: #3a444c;*/
  font-size: 20px;
  text-transform: uppercase;
  /*background-color: #fff;*/
  padding: 3%;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  border: solid 1px #fff;
}


.title_div_3
{
  text-align: center;
  margin-top: 10px;
}

.title_div_3 span
{
  font-size: 17px;
  color: #fff;
}

.title_div_3_span_1, .title_div_3_span_3
{
  font-family: 'Raleway-SemiBold';
}

.title_div_3_span_2
{
  font-family: 'Raleway-Light';
}

.logos_div
{
  margin-top: 6%;
}

.logos_div_inner
{
  display: inline-block;
  margin-right: 8%;
  margin-left: 3%;
  opacity: 0.5;
}

.logos_div_inner_active
{
  opacity: 1;
}

.logos_div_inner:hover, .logos_div_inner_active:hover
{
  opacity: 1;
  cursor: pointer;
}

.logos_div_inner img
{
  /*width: 43%;*/
  height: 60px;
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.logos_div_inner span
{
  font-family: 'Raleway-SemiBold';
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  display: block;
}

.logos_div_inner .hidden_span
{
  color: transparent !important;
}

.sep_div
{
  width: 100%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.sep_div img 
{
  width: 100%;
}

.arrowSeperator {
  display: block;
  text-align: center;
  border: 1px solid #ddd;
  width: 100%;
  height: 0;
  position: relative;
}

.arrowSeperator:before{
  content:'';
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent; 
  border-right: 15px solid transparent; 
  border-top: 15px solid #ddd;
  position: absolute;
  top: 100%;
  left: 50%; 
  right: 50%; 
  margin: 0 -15px; 
  z-index:1;
}


.arrowSeperator:after{
  content:'';
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  right: 50%;
  margin: 0 -15px -2px -15px;
  z-index: 2;
}


.final_div 
{
  text-align: justify;
  padding-left: 3%;
  padding-right: 4%;
  display: none;
}

.final_div_active
{
  display: block;
}

.final_div_1
{
  font-family: 'Raleway-ExtraBold';
  color: #fff;
}

.final_div_2
{
  font-family: 'Raleway-SemiBold';
  color: #fff;
}


@media only screen and (max-width: 1130px) {

  .logos_div_inner_upper
  {
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 1035px) {

  .logos_div_inner img
  {
    height: 45px;
  }

  .logos_div_inner span
  {
    font-size: 11px;
  }
}


@media only screen and (max-width: 768px) {

  .dl_port_div 
  {
    margin-bottom: 6%;
  }

  .title_div_1, .title_div_2
  {
    text-align: center;
  }

  .arrow-up-right, .arrow-up-left, .arrow-up-right_footer, .arrow-up-left_footer
  {
      border-top-width: 60px !important;
  }

  .logos_div_inner img
  {
    height: 45px;
  }

  .title_span_div span
  {
    font-size: 20px;
  }

  .con_divs span
  {
    font-size: 14px;
  }

  .maps
  {
    min-height: 48%;
  }

}

@media only screen and (max-width: 600px) {

  .logos_div 
  {
    margin-top: 9%;
  }

  .final_div 
  {
    padding-top: 3%;
  }

}
@media only screen and (max-width: 480px) {

  .main_div_2
  {
    padding-top: 10%;
  }

  .client_list_div
  {
    padding-left: 4%;
    padding-right: 6%;
  }

  .title_div_3 span
  {
    font-size: 15px;
  }

  .logos_div_inner img
  {
    height: 50px;
  }

  .final_div_1, .final_div_2
  {
    font-size: 12px;
  }
}

@media only screen and (max-width: 400px) {

  .title_div_3 span 
  {
    font-size: 13px;
  }

  .logos_div_inner img 
  {
    height: 34px;
  }
}

@media only screen and (max-width: 320px) {


  .title_span_div span
  {
    font-size: 19px;
  }

  .con_divs span
  {
    font-size: 14px;
  }
}

