.main_div_2
{
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../img/main_bg.jpg'); 
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  
  position: relative;
  padding-top: 5%;
}

.title_span_div
{
  text-align: center;
}

.title_span_div span
{
  color: #fff;
  font-size: 23px;
  letter-spacing: 1px;
  text-decoration: underline;
  font-family: 'Raleway-SemiBold';
  text-transform: uppercase;
}

.title_span_div span
{
    text-decoration: none;
    position: relative;
}
.title_span_div span:after
{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-width: 0 0 1px;
  border-style: solid;
}

.client_list_div
{
  text-align: center;
  /*margin-top: 7%;*/
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 12%;
}

/*.single_client_div
{
  display: inline-block;
  width: 18%;
  margin-right: 1.5%;
  padding: 0.5%;
}*/

#portfoliolist
{
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

#portfoliolist .portfolio
{
  /*width: 20%;*/
  width: 16%;
  margin: 0;
}
.single_client_div img
{
  width: 85%;
}

#filters
{
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  margin-top: 4%;
  display: table;
}

#filters li
{
  float: none;
  display: inline-block;
  width: 160px;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}

#filters li span:hover
{
  opacity: 0.75;
  cursor: pointer;
}

#filters li span
{
  font-family: 'Raleway-SemiBold';
  color: #fff;
  text-transform: uppercase;
}

#filters li span.active
{
  background: #17191b;
}

@media only screen and (max-width: 1000px) {

  #filters li
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 870px) {


  #portfoliolist .portfolio
  {
    width: 33.3%;
  }
}

@media only screen and (max-width: 768px) {

  .client_list_div
  {
    padding-left: 6%;
    padding-right: 6%;
  }

  .single_client_div
  {
    width: 20%;
  }
  .dl_port_div 
  {
    margin-bottom: 6%;
  }

  .title_div_1, .title_div_2
  {
    text-align: center;
  }

  .arrow-up-right, .arrow-up-left, .arrow-up-right_footer, .arrow-up-left_footer
  {
      border-top-width: 60px !important;
  }

  .title_span_div span
  {
    /*font-size: 16px;*/
    font-size: 20px;
  }

  .con_divs span
  {
    font-size: 14px;
  }

  .maps
  {
    min-height: 48%;
  }
}

@media only screen and (max-width: 660px) {

 /* .client_list_div
  {
    padding-bottom: 23%;
  }

  #portfoliolist .portfolio
  {
    width: 100%;
  }*/
}

@media only screen and (max-width: 600px) {

  #portfoliolist .portfolio
  {
    width: 50%;
  }

}
@media only screen and (max-width: 480px) {

  .main_div_2
  {
    padding-top: 11%;
    padding-bottom: 7%;
  }

  .client_list_div
  {
    padding-left: 4%;
    padding-right: 6%;
  }

  .title_div_3 span
  {
    font-size: 15px;
  }

  .logos_div_inner img
  {
    height: 50px;
  }
}

@media only screen and (max-width: 400px) {

  .title_div_3 span 
  {
    font-size: 13px;
  }

  .logos_div_inner img 
  {
    height: 34px;
  }

  .footer
  {
    height: 19%;
  }
  
  .footer_div_1 span
  {
    font-size: 40px;
  }

  .footer_img_div img
  {
    height: 24px;
  }
}

@media only screen and (max-width: 320px) {


  .title_span_div span
  {
    font-size: 19px;
  }

  .con_divs span
  {
    font-size: 14px;
  }

