.main_div_2
{
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../img/main_bg.jpg'); 
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  
  position: relative;
  padding-top: 5%;
}

.title_span_div
{
  text-align: center;
}

.title_span_div span
{
  color: #fff;
  font-size: 23px;
  letter-spacing: 1px;
  text-decoration: underline;
  font-family: 'Raleway-SemiBold';
  text-transform: uppercase;
}

.title_span_div span
{
    text-decoration: none;
    position: relative;
}
.title_span_div span:after
{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-width: 0 0 1px;
  border-style: solid;
}

.client_list_div
{
  text-align: center;
  margin-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
}

.con_divs
{
  text-align: center;
  width: 100%;
  margin-bottom: 4%;
}


.cont_custom
{
  width: 45px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.cont_custom img
{
  width: 100%;
}

.cont_custom .active_imgs
{
  display: none;
}

.cont_custom:hover .idle_imgs
{
  display: none;
}

.cont_custom:hover .active_imgs
{
  display: block;
}

.con_divs span
{
  font-family: 'Raleway-SemiBold';
  color: #fff;
}

.maps 
{
  width: 100%;
  min-height: 58%;
}

@media only screen and (max-width: 768px) {

  .arrow-up-right, .arrow-up-left, .arrow-up-right_footer, .arrow-up-left_footer
  {
      border-top-width: 60px !important;
  }

  .title_span_div span
  {
    font-size: 20px;
  }

  .con_divs span
  {
    font-size: 14px;
  }

  .maps
  {
    min-height: 48%;
  }
}

@media only screen and (max-width: 480px) {

  .main_div_2
  {
    padding-top: 10%;
    padding-bottom: 9%;
  }

  .con_divs img
  {
    width: 6%;
  }
}

@media only screen and (max-width: 400px) {

  .footer
  {
    height: 19%;
  }
  
  .footer_div_1 span
  {
    font-size: 40px;
  }

  .footer_img_div img
  {
    height: 24px;
  }
}

@media only screen and (max-width: 320px) {


  .title_span_div span
  {
    font-size: 16px;
  }

  .con_divs span
  {
    font-size: 12px;
  }
}
