.top_div
{
	width: 100%;
	/*max-height: 620px;*/
	/*background-image: url('../img/slide_2.jpg'); 
    background-position: 50% 30%; 
    background-size: cover;
    background-repeat: no-repeat; */
}

.top_div img
{
	width: 100%;
	/*display: none;*/
}

.white_strip
{
	width: 100%;
    height: 10px;
	background-color: #fff;
}

.blue_strip
{
    width: 100%;
    padding: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15%;
    background-color: #fff;
}

.blue_strip span
{
    font-family: 'ParisinePlusPtf-Bold';
    font-size: 20px;
    color: #00aebd;
    text-transform: uppercase;
}

.what_div
{
	width: 100%;
	/*height: 500px;*/
	background-color: #e6e6e6;
	padding-top: 2%;
	padding-bottom: 2%;
	position: relative;
}

.page_main
{
	position: relative;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.page_icons
{
	text-align: left;
    display: none;
}

.hidden_options
{
    display: none;
}

.main_cont_div
{
    padding: 20px;
    font-family: 'PraxisLT-Light';
    font-size: 16px;
    color: #5d5d5c;
}

.eve_div
{
    border: solid 3px #00aebd;
}

.eve_div:hover
{
    cursor: pointer;
}

.eve_2
{
    padding: 5px;
    position: relative;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
}

.eve_2:hover
{
    opacity: 0.75;
    cursor: pointer;
}

.eve_active
{
    border: solid 2px #00aebd;
    border-radius: 11px;
}

.eve_2 img 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.new_icon_div
{
    width: 90%;
    text-align: center;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.file_flag
{
    border-bottom: solid 2px #00aebd;
}

.eve_div_first
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: solid 1px #00aebd;
}

.eve_div_last
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.eve_files
{
    display: none;
    padding: 10px;
    padding-left: 20px;
}

.eve_span_div
{
    display: block;
}

.eve_span_div img
{
    width: 10px;
    margin-right: 5px;
}

.eve_span_div span:hover
{
    opacity: 0.75;
}

.eve_span_div span 
{
    font-size: 15px;
}

.hidden_options
{
    display: none;
}

.page_cont
{
	margin-bottom: 5%;
}

.page_cont p
{
	font-family: 'PraxisLT-Light';
	font-size: 16px;
	color: #5d5d5c;
}

.guide_icon_div 
{
    display: inline-block;
    margin-right: 3%;
    margin-bottom: 0;
}

.guide_icon_div span
{
	text-decoration: none;
}

.guide_active
{
	/*text-decoration: underline !important;*/
}

.guide_icon_div:hover span
{
	color: #5d5d5c;
}

.select_main_div
{
	width: 100%;
	text-align: center;
}

.select_main_div span 
{
    color: #00aebd;
    font-size: 20px;
    font-family: 'ParisinePlusPtf-Bold';
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}

.select_div 
{
	width: 100%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.selectpicker
{
	margin-bottom: 20px;
}

.select_div iframe 
{
	border: solid 8px #fff !important;
}

.selected_option
{
    display: block;
}

.footer_bg
{
	width: 100%;
}

.footer_strip
{
	width: 100%;
    height: 2px;
	background-color: #00aebd;
}

.footer_bg img
{
	width: 100%;
}

@media screen and (max-width: 768px) {

    .guide_icon_div img
    {
    	width: inherit;
    }

    .page_main
    {
        width: 90%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .main_cont_div
    {
        text-align: left;
    }

}

@media screen and (max-width: 660px) {

    .page_icons 
    {
        margin-bottom: 6%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .guide_icon_div img
    {
    	width: inherit;
    }

    .guide_icon_div
    {
		display: inline-block;
        margin-right: 5%;
        margin-bottom: 10px;
        padding-left: 0;
    }

}

@media screen and (max-width: 32em) {

    body 
    {
        font-size: initial !important;
    }

}
