
.pop_ups {
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}
.popup_visible .pop_ups {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

.pop_ups
{
  width: 60%;
  background-color: #fff;
}

.pop_bg
{
  width: 100%;
  height: 250px;
  /*background-attachment: fixed;*/
  background-position: 50% 50% !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin-bottom: 20px;
}

.pop_title
{
  font-family: 'Raleway-SemiBold';
  color: #000;
  font-size: 17px;
}

.pop_desc
{
  font-family: 'Raleway-Regular';
  color: #000;
  font-size: 15px;
  margin-top: 5px;
}

.client_owl img 
{
  width: 80%;
}

.main_div_2
{
  width: 100%;
  /*background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../img/main_bg.jpg'); 
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;*/
  
  position: relative;
  /*padding-top: 5%;*/
}

.fixed_div
{
  position: fixed;
  right: 0;
  top: 20%;
  width: 6.5%;
  z-index: 999;
}

.fixed_div img
{
  width: 100%;
}

.fixed_div:hover
{
  cursor: pointer;
  /*opacity: 0.75;*/
}

.nav_bar
{
  background-color: transparent;
}

.mobile_nav
{
  display: none;
}

.nav_bar_empty
{
  display: none;
}

.top_div
{
  width: 100%;
  /*background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../img/video_bg.jpg');*/
  /*background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),url('../img/video_bg.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;*/
  /*height: 500px;*/
  /*height: 615px;*/
  position: relative;
}

.top_div img 
{
  position: absolute;
  width: 32%;
  left: 0;
  right: 0;
  bottom: 13%;
  margin: auto;
}

.arrow-up-left-top
{
  width: 0; 
  height: 0; 
  left: 0;
  top: -110px;

  border-left: 5px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 110px solid #17191b;

  position: absolute;

  -webkit-transition: border-top-width 1s; /* Safari */
  transition: border-top-width 1s;
}

.arrow-up-right-top
{
  width: 0; 
  height: 0; 
  right: 0;
  top: -110px;

  border-left: 0px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 110px solid #17191b;

  position: absolute;

  -webkit-transition: border-top-width 1s; /* Safari */
  transition: border-top-width 1s;
}

.arrow-up-left-mid
{
  width: 0%;
  top: 0;
  right: 0;
  border-left: 0px solid transparent;
  border-top: 110px solid #17191b;
  position: absolute;

  -webkit-transition: border-top-width 1s; /* Safari */
  transition: border-top-width 1s;
}

.arrow-up-right-mid
{
  width: 0%;
  top: 0;
  left: 0;
  border-right: 0px solid transparent;
  border-top: 110px solid #17191b;
  position: absolute;

  -webkit-transition: border-top-width 1s; /* Safari */
  transition: border-top-width 1s;

}

.journey_div
{
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../img/journey_bg.jpg'); 
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*height: 600px;*/
  position: relative;
  padding-bottom: 2%;
  text-align: center;
}

.title_span_div
{
  text-align: center;
}

.title_span_div span
{
  color: #fff;
  font-size: 30px;
  letter-spacing: 1px;
  text-decoration: underline;
  font-family: 'Raleway-SemiBold';
  text-transform: uppercase;
}

.title_span_div span
{
    text-decoration: none;
    position: relative;
}
.title_span_div span:after
{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-width: 0 0 1px;
  border-style: solid;
}

.client_list_div
{
  text-align: center;
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  position: relative;
}

.client_list_div_journey
{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 5%;
  position: relative;
}

.client_list_div_2
{
  text-align: center;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 7%;
  position: relative;
}

.rect_div
{
  width: 50px;
  background-color: #17191b;
  height: 31%;
  position: absolute;
  z-index: 200;
  top: -39%;
  left: 16%;
}

.title_div_1, .title_div_2
{
  text-align: left;
}

.title_div_1 span, .title_div_2 span, .journey_title_div span
{
  display: block;
}

.title_div_1_span_1, .title_div_2_span_1
{
  font-family: 'NoteraPersonalUseOnly';
  color: #fff;
  text-transform: lowercase;
  font-size: 35px;
}

.journey_title_div_span_1, .through_div_span_1, .and_more_div_span_1
{
  font-family: 'NoteraPersonalUseOnly';
  color: #fff;
  text-transform: lowercase;
  text-transform: initial;
  margin-bottom: 15px;
  font-size: 40px;
}

.journey_title_div_span_2
{
  font-family: 'Raleway-SemiBold';
  color: #fff;
  text-transform: uppercase;
  margin-top: -16px;
  padding-left: 2.5%;
  font-size: 26px;
}

.client_list_div
{
  text-align: center;
  /*margin-top: 2%;*/
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 7%;
}

.client_list_div_2
{
  padding-bottom: 2%;
}

.owl-theme .owl-controls
{
  margin-top: 40px;
}

.single_client_div
{
  display: inline-block;
  width: 15%;
  padding: 1%;
}

.single_client_div img
{
  width: 100%;
}

.client_list_div_3
{
  text-align: center;
  margin-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0;
}

.through_div, .and_more_div
{
  text-align: center;
}

.logos_div
{
  margin-top: 2%;
  margin-bottom: 1%;
  text-align: center;
}

.logos_div_inner
{
  display: inline-block;
  margin-right: 4%;
  margin-left: 4%;
}

.logos_div_inner img
{
  /*width: 43%;*/
  height: 11%;
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.logos_div_inner span
{
  font-family: 'Raleway-SemiBold';
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  display: block;
}

.title_div_1_span_2, .title_div_2_span_2
{
  font-family: 'Raleway-SemiBold';
  color: #fff;
  text-transform: uppercase;
  margin-top: -16px;
  padding-left: 2.5%;
  font-size: 23px;
}

.who_we_are_div
{
  width: 70% !important;
  margin-top: 3%;
}

.who_we_are_div p
{
  font-family: 'Raleway-Light';
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
}

.journey_title_div
{
  text-align: center;
  padding-top: 5%;
}

.title_div_2_span_2
{
  padding-left: 3%;
}

.test_div
{
  margin-top: 3%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.item p, .item span
{
  font-family: 'Raleway-Light';
  color: #fff;
  text-transform: uppercase;
}

.test_div_bot
{
  /*width: 32%;*/
  float: right;
}

.test_div_bot span
{
  display: block;
  text-align: left;
  font-size: 10px;
}

.events_div
{
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../img/events_bg.jpg'); 
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*height: 500px;*/
  position: relative;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 12%;
}

.events_main_div
{
  padding-top: 4%;
  width: 94%;
  margin-right: auto;
}

.event_span_2
{
  padding-left: 4.5%;
}

.event_inner_mobile
{
  display: none;
}

.event_inner
{
  /*height: 300px;*/
  margin-bottom: 2%;
}

.event_inner_1
{
  padding: 0;
  text-align: center;
  background-color: #fff;
  display: table;
}

.event_inner_1 .span_1, .event_inner_1 .span_3
{
  font-family: 'Raleway-Light';
  color: #17191b;
  text-transform: uppercase;
  display: block;
  font-size: 20px;
}

.event_inner_1 .span_1, .event_inner_1 .span_2
{
  margin-bottom: 5px;
}

.event_inner_1 .span_2
{
  font-family: 'Raleway-Bold';
  color: #17191b;
  text-transform: uppercase;
  display: block;
  font-size: 30px;
}

.event_inner_1_2
{
  display: table-cell;
  vertical-align: middle;
}
.event_inner_2
{
  background-position: 50% 50% !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 160px;
}

.event_inner_3 
{
  padding: 2%;
  padding-right: 0;
  text-align: left;
  background-color: #fff;
  position: relative;
}

.event_inner_3 span 
{
  font-family: 'Raleway-SemiBold';
  font-size: 18px;
  color: #17191b;
}

.event_inner_3 p 
{
  font-family: 'Raleway-Light';
  font-size: 17px;
  color: #17191b;
  margin-top: 6px;
}

.event_inner_4
{
  position: relative;
  background-color: #fff;
  text-align: center;
}

.event_arrow
{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
}

.event_inner_4:hover .idle_imgs
{
  display: none;
}

.event_inner_4:hover .active_imgs
{
  display: block;
}

.final_div 
{
  text-align: justify;
  padding-left: 3%;
  padding-right: 4%;
}

.final_div_1
{
  font-family: 'Raleway-ExtraBold';
  color: #fff;
}

.final_div_2
{
  font-family: 'Raleway-SemiBold';
  color: #fff;
}

.pop_ups 
{
  width: 75%;
}

.event_inner_4 .fa
{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 30px;
  width: 30px;
  font-size: 25px;
  color: #000;
   -webkit-transition: color 0.2s ease-out;
 -moz-transition: color 0.2s ease-out;
 -o-transition: color 0.2s ease-out;
 -ms-transition: color 0.2s ease-out;
 transition: color 0.2s ease-out;
}

.event_inner_4 .fa:hover 
{
   color: #f53426;
}

@media only screen and (max-width: 1130px) {

  .logos_div_inner_upper
  {
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 960px) {

  .single_client_div
  {
    width: 17%;
    padding: 0;
  }

  .event_inner_1 .span_1, .event_inner_1 .span_3
  {
    font-size: 16px;
  }

  .event_inner_1 .span_2
  {
    font-size: 21px;
  }
}

@media only screen and (max-width: 820px) {

  .single_client_div
  {
    width: 22%;
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {

  .top_div
  {
    /*height: 300px;*/
  }

  .hephaistos .tp-bullet
  {
    width: 7px;
    height: 7px;
  }

  .fixed_div, .rect_div, .arrow-up-right-top, .arrow-up-left-top, .arrow-up-right-mid, .arrow-up-left-mid
  {
    display: none;
  }

  .mobile_nav
  {
    display: block;
  }

  .navbar-header
{
  /*height: 180px;*/
  background-color: #000;
}

.navbar-brand
{
  display: block;
  /* height: inherit; */
  /* height: 120px; */
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  width: 100%;
  /*margin-top: 20px;
  margin-bottom: 40px;*/
}

.navbar-brand > img 
{
    display: block;
    /*width: 30%;*/
    width: 90px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-toggle 
{
  position: relative;
  float: none; 
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;
  border: none;
  color: #1d1d1b !important;
}

.navbar-toggle:focus, .navbar-toggle:hover
{
  background-color: transparent !important;
  border: none !important;
  color: #1d1d1b !important;
}

#navbar
{
  background-color: #fff;
  border: none;
}

.nav > li 
{
  text-align: center;
}

.nav > li:hover, .navbar-toggle:hover
{
  opacity: 0.75
}

.navbar-nav > li > a
{
  letter-spacing: 3px;
  color: #1d1d1b !important;
  text-transform: uppercase;
}

.navbar-nav
{
  margin-right: 0;
  margin-left: 0;
}

.navbar-nav > li
{
  display: block;
}

  .who_we_are_div
  {
    width: 95% !important;
  }

  .who_we_are_div p
  {
    text-align: justify;
    font-size: 11px;
  }

  .client_list_div
  {
    padding-bottom: 3%;
  }

  .title_div_1_span_1, .title_div_2_span_1
  {
    font-size: 29px;
  }

  .title_div_1_span_2, .title_div_2_span_2
  {
    margin-top: -10px;
    font-size: 18px;
  }

  .journey_title_div_span_1, .through_div_span_1, .and_more_div_span_1
  {
    font-size: 35px;
  }

  .journey_title_div_span_2
  {
    font-size: 22px;
  }

  .single_client_div
  {
    width: 20%;
  }

  .logos_div_inner img
  {
    height: 5%;
  }

  .logos_div_inner span
  {
    font-size: 12px;
  }

  .item p
  {
    text-align: justify;
    font-size: 11px;
  }

  .event_inner
  {
    display: none;
  }

  .event_inner_mobile
  {
    display: block;
    margin-bottom: 15px;
  }

  .event_inner_2 
  {
    height: 160px;
    width: 100%;
  }

  .event_inner_1
  {
    height: 140px !important;
    display: table;
    width: 15%;
    /*padding: 2%;*/
  }

  .event_inner_1_2 
  {
    display: table-cell;
    vertical-align: top;
    padding-top: 15px;
  }

  .event_inner_1 .span_1, .event_inner_1 .span_3
  {
    font-size: 12px;
  }

  .event_inner_1 .span_2
  {
    font-size: 19px;
  }

  .event_inner_3 
  {
    /*padding: 2%;*/
    position: relative;
    width: 85%;
    height: 140px !important;
  }

  .event_inner_3 span, .event_inner_3 p
  {
    font-size: 16px;
  }
  .mobile_pop_link
  {
    float: right;
    margin-right: 10px;
  }

  .pop_ups 
  {
    width: 90%;
  }

  .pop_desc
  {
    font-size: 13px;
  }

}

@media only screen and (max-width: 585px) {

  .event_inner_1 .span_1, .event_inner_1 .span_3
  {
    font-size: 10px;
  }

  .event_inner_3 span, .event_inner_3 p
  {
    font-size: 13px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .event_inner_1 
  {
    height: 120px !important;
    display: table;
    /*width: 10%;*/
    padding: 0; 
  }

  .event_inner_1_2
  {
    vertical-align: top;
    /*padding-top: 11px;
    padding-left: 9px;*/
  }

  .event_inner_3 
  {
    height: 120px !important;
  }

}


@media only screen and (max-width: 420px) {

  .event_inner_3 span, .event_inner_3 p
  {
    font-size: 12px;
  }

  .logos_div_inner span 
  {
    font-size: 9px;
  }

}

@media only screen and (max-width: 375px) {

  .event_inner_1 
  {
    height: 110px !important;
    display: table;
    width: 14%;
    padding: 0;
  }

  .event_inner_1_2 
  {
    padding: 8px;
  }

  .event_inner_1 .span_1, .event_inner_1 .span_3
  {
    font-size: 8px;
  }

  .event_inner_3 
  {
    height: 110px !important;
    width: 86%;
    padding: 3%;
    padding-right: 0;
    padding-left: 0;
  }

  .event_inner_3 span, .event_inner_3 p
  {
    font-size: 11px;
    padding-right: 3px;
    padding-left: 3px;
  }
}

@media only screen and (max-width: 320px) {

  .event_inner_1 
  {
    height: 125px !important;
    display: table;
    width: 16%;
    padding: 0;
  }

  .event_inner_1_2 
  {
    padding: 8px;
  }

  .event_inner_1 .span_1, .event_inner_1 .span_3
  {
    font-size: 8px;
  }

  .event_inner_3 
  {
    height: 125px !important;
    width: 84%;
    padding: 3%;
    padding-right: 0;
  }

  .event_inner_3 span, .event_inner_3 p
  {
    font-size: 11px;
    padding-right: 3px;
    padding-left: 3px;
  }
}
