.main_div_2
{
  width: 100%;

  background: #3b4047; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#3b4047, #335c64); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3b4047, #335c64); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3b4047, #335c64); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3b4047, #335c64); /* Standard syntax */
  
  position: relative;
  padding-top: 5%;
}

.title_span_div
{
  text-align: center;
}

.title_span_div span
{
  color: #fff;
  font-size: 23px;
  letter-spacing: 1px;
  text-decoration: underline;
  font-family: 'Raleway-SemiBold';
  text-transform: uppercase;
}

.title_span_div span
{
    text-decoration: none;
    position: relative;
}
.title_span_div span:after
{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-width: 0 0 1px;
  border-style: solid;
}

.client_list_div
{
  /*text-align: center;*/
  margin-top: 7%;
  /*padding-left: 10%;
  padding-right: 10%;*/
  padding-bottom: 13%;
}

.single_client_div
{
  display: inline-block;
  width: 15%;
  margin-right: 10px;
  padding: 3%;
}

.single_client_div img
{
  width: 100%;
}

#portfoliolist
{
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

#portfoliolist .portfolio
{
  /*width: 20%;*/
  width: 25%;
  margin: 0;
}

#filters
{
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  display: table;
}

#filters li
{
  float: none;
  display: inline-block;
  width: 160px;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}

#filters li span:hover
{
  opacity: 0.75;
  cursor: pointer;
}

#filters li span
{
  font-family: 'Raleway-SemiBold';
  color: #fff;
  text-transform: uppercase;
}

#filters li span.active
{
  background: #17191b;
}

.marq_filter
{
  background: transparent !important;
  padding: 0 !important;
}

.marq_img
{
  width: 62%;
}

#filters li span.active:hover
{
  opacity: 1 !important;
}

@media only screen and (max-width: 1200px) {

  .client_list_div
  {
    padding-bottom: 13%;
  }

  #portfoliolist .portfolio
  {
    width: 33.33%;
  }
}

@media only screen and (max-width: 880px) {

  #filters li
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 870px) {


  #portfoliolist .portfolio
  {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {

  .arrow-up-right, .arrow-up-left, .arrow-up-right_footer, .arrow-up-left_footer
  {
      border-top-width: 60px !important;
  }

  .title_span_div span
  {
    font-size: 20px;
  }

  .con_divs span
  {
    font-size: 14px;
  }

  #filters
  {
    margin-bottom: 6%;
  }
}

@media only screen and (max-width: 660px) {

  .client_list_div
  {
    padding-bottom: 23%;
  }

  #portfoliolist .portfolio
  {
    width: 100%;
  }
}


@media only screen and (max-width: 480px) {

  .main_div_2
  {
    padding-top: 10%;
    padding-bottom: 9%;
  }
}

@media only screen and (max-width: 470px) {

  .client_list_div
  {
    padding-bottom: 27%;
  }
}

@media only screen and (max-width: 400px) {

  .footer
  {
    height: 19%;
  }
  
  .footer_div_1 span
  {
    font-size: 40px;
  }

  .footer_img_div img
  {
    height: 24px;
  }
}

@media only screen and (max-width: 320px) {


  .title_span_div span
  {
    font-size: 16px;
  }

  .con_divs span
  {
    font-size: 14px;
  }
}