.main_div_2
{
  width: 100%;

  background: #3b4047; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#3b4047, #335c64); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3b4047, #335c64); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3b4047, #335c64); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3b4047, #335c64); /* Standard syntax */
  
  position: relative;
  padding-top: 5%;
}

.title_span_div
{
  text-align: center;
}

#html5-watermark, .html5-nav-mask, .html5-nav
{
  display: none !important;
}

#html5box-html5-lightbox #html5-lightbox-box
{
  position: absolute !important;
  top: 3% !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
  margin: auto !important;
}
/*#html5-elem-box
{
  position: absolute !important;
  height: 50% !important;
  width: 100% !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  margin: auto !important;
  background-color: transparent  !important;
}*/

.title_span_div span
{
  color: #fff;
  font-size: 23px;
  letter-spacing: 1px;
  text-decoration: underline;
  font-family: 'Raleway-SemiBold';
  text-transform: uppercase;
}

.title_span_div span
{
    text-decoration: none;
    position: relative;
}
.title_span_div span:after
{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-width: 0 0 1px;
  border-style: solid;
}

.client_list_div
{
  /*text-align: center;*/
  margin-top: 7%;
  /*padding-left: 10%;
  padding-right: 10%;*/
  padding-bottom: 13%;
}

.single_client_div
{
  display: inline-block;
  width: 15%;
  margin-right: 10px;
  padding: 3%;
}

.single_client_div img
{
  width: 100%;
}

#portfoliolist
{
  width: 100%;
  padding-left: 15px !important;
  padding-right: 15px !important;
  text-align: center;
}

#portfoliolist .portfolio
{
  /*width: 20%;*/
  width: 25%;
  margin: 0;
}

.gallery_row
{
    width: 100%;
}

#gallery-container
{
  padding-left: 0;
}

.top_div
{
  width: 100%;
  /*max-height: 620px;*/
  /*background-image: url('../img/slide_2.jpg'); 
    background-position: 50% 30%; 
    background-size: cover;
    background-repeat: no-repeat; */
}

.top_div img
{
  width: 100%;
  /*display: none;*/
}

.white_strip
{
  width: 100%;
    height: 10px;
  background-color: #fff;
}

.blue_strip
{
    width: 100%;
    padding: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 5%;
    background-color: #fff;
}

.blue_strip span
{
    font-family: 'ParisinePlusPtf-Bold';
    font-size: 20px;
    color: #00aebd;
    text-transform: uppercase;
}

.what_div
{
  width: 100%;
  /*height: 500px;*/
  background-color: #e6e6e6;
  padding-top: 2%;
  padding-bottom: 2%;
  position: relative;
}

.gallery_row
{
    padding-left: 2% !important;
    padding-right: 0 !important;
}

.gallery_empty
{
    display: none;
}

.gallery_cols
{
    margin-bottom: 1%;
    height: 260px;
    /*width: 24%;*/
    width: 32%;
    margin-right: 1%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.gallery_cols:hover
{
    opacity: 0.75;
    cursor: pointer;
}

.g_spans
{
    display: block;
}

.gallery_cols img 
{
    width: 100%;
}

.gallery_workshop_title 
{
  font-family: 'Aileron Black';
  font-size: 14px;
  color: #fff;
}

.gallery_client 
{
  font-family: 'Aileron Regular';
  font-size: 14px;
  color: #fff;
}

.gallery_inside_div
{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 125px;
    z-index: 99;
    display: table;
    padding: 10%;
}

.gallery_background
{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 125px;
    background-color: #332f2e;
    opacity: 0.8;
    width: 100%;
}

.event_date_span 
{
    position: relative;
    text-align: center;
    float: left;
    margin-right: 17px;
    top: 0;
    left: 0;
}

.gallery_workshop_title
{
    font-family: 'ParisinePlusPtf-Bold';
    font-size: 15px;
    color: #fff;
}

.footer_bg
{
  width: 100%;
}

.footer_strip
{
  width: 100%;
    height: 2px;
  background-color: #00aebd;
}

.footer_bg img
{
  width: 100%;
}


/********/
#imagelightbox
{
    cursor: pointer;
    position: fixed;
    z-index: 10000;

    -ms-touch-action: none;
    touch-action: none;

    -webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
    box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
}

/* OVERLAY */

#imagelightbox-overlay
{
    background-color: #fff;
    background-color: rgba( 255, 255, 255, .9 );
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/* "CLOSE" BUTTON */

#imagelightbox-close
{
    width: 2.5em; /* 40 */
    height: 2.5em; /* 40 */
    text-align: left;
    background-color: #00aebd;
    border-radius: 50%;
    border: none;
    position: fixed;
    z-index: 10002;
    top: 2.5em; /* 40 */
    right: 2.5em; /* 40 */

    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}
    #imagelightbox-close:hover,
    #imagelightbox-close:focus
    {
        background-color: #1aaa8f;
    }
    #imagelightbox-close:before,
    #imagelightbox-close:after
    {
        width: 2px;
        background-color: #fff;
        content: '';
        position: absolute;
        top: 20%;
        bottom: 20%;
        left: 50%;
        margin-left: -1px;
    }
    #imagelightbox-close:before
    {
        -webkit-transform: rotate( 45deg );
        -ms-transform: rotate( 45deg );
        transform: rotate( 45deg );
    }
    #imagelightbox-close:after
    {
        -webkit-transform: rotate( -45deg );
        -ms-transform: rotate( -45deg );
        transform: rotate( -45deg );
    }


/* NAVIGATION */

#imagelightbox-nav
{
    background-color: #444;
    background-color: rgba( 0, 0, 0, .5 );
    border-radius: 20px;
    position: fixed;
    z-index: 10001;
    left: 50%;
    bottom: 3.75em; /* 60 */
    padding: 0.313em; /* 5 */

    -webkit-transform: translateX( -50% );
    -ms-transform: translateX( -50% );
    transform: translateX( -50% );
}
    #imagelightbox-nav button
    {
        width: 1em; /* 20 */
        height: 1em; /* 20 */
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 50%;
        display: inline-block;
        margin: 0 0.313em; /* 5 */
    }
    #imagelightbox-nav button.active
    {
        background-color: #fff;
    }


/* ARROWS */

.imagelightbox-arrow
{
    width: 3.75em; /* 60 */
    height: 7.5em; /* 120 */
    background-color: #00aebd;
    vertical-align: middle;
    display: none;
    border: none;
    position: fixed;
    z-index: 10001;
    top: 50%;
    margin-top: -3.75em; /* 60 */
}
.imagelightbox-arrow:hover,
.imagelightbox-arrow:focus
{
    background-color: #1aaa8f;
}
.imagelightbox-arrow:active
{
    background-color: #111;
}
    .imagelightbox-arrow-left
    {
        left: 2.5em; /* 40 */
    }
    .imagelightbox-arrow-right
    {
        right: 2.5em; /* 40 */
    }
    .imagelightbox-arrow:before
    {
        width: 0;
        height: 0;
        border: 1em solid transparent;
        content: '';
        display: inline-block;
        margin-bottom: -0.125em; /* 2 */
    }
        .imagelightbox-arrow-left:before
        {
            border-left: none;
            border-right-color: #fff;
            margin-left: -0.313em; /* 5 */
        }
        .imagelightbox-arrow-right:before
        {
            border-right: none;
            border-left-color: #fff;
            margin-right: -0.313em; /* 5 */
        }

#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav,
.imagelightbox-arrow
{
    -webkit-animation: fade-in .25s linear;
    animation: fade-in .25s linear;
}
    @-webkit-keyframes fade-in
    {
        from    { opacity: 0; }
        to      { opacity: 1; }
    }
    @keyframes fade-in
    {
        from    { opacity: 0; }
        to      { opacity: 1; }
    }

@media only screen and (max-width: 41.250em) /* 660 */
{
    #container
    {
        width: 100%;
    }
    #imagelightbox-close
    {
        top: 1.25em; /* 20 */
        right: 1.25em; /* 20 */
    }
    #imagelightbox-nav
    {
        bottom: 1.25em; /* 20 */
    }

    .imagelightbox-arrow
    {
        width: 2.5em; /* 40 */
        height: 3.75em; /* 60 */
        margin-top: -2.75em; /* 30 */
    }
    .imagelightbox-arrow-left
    {
        left: 1.25em; /* 20 */
    }
    .imagelightbox-arrow-right
    {
        right: 1.25em; /* 20 */
    }
}

.page_title
{
    text-align: center;
    
}

.page_title span
{
    font-family: 'Aileron Black';
    font-size: 30px;
}

@media only screen and (max-width: 20em) /* 320 */
{
    .imagelightbox-arrow-left
    {
        left: 0;
    }
    .imagelightbox-arrow-right
    {
        right: 0;
    }
}

.thumbnail {
  position: relative;
  width: 215px;
  height: 215px;
  overflow: hidden;
  border:none;
  border-radius:0; 
  background-color: transparent;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  border-radius: 3px;
  margin-right: 15px;
  transition: all .25s;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.thumbnail:hover
{
    transform: scale(0.98);
    padding: 2px;
    border: solid 3px #fff !important;

}

.fancybox-opened .fancybox-skin, .fancybox-skin
{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background: none !important;
}

.landscape:hover
{
  /*border: solid 1px #339966;*/
}

.gallery_div li
{
    display: inline-block;
    margin: 0.625em; /* 10 */
    width: 31%;
}
.landscape, .portrait_div
{
    /*width: 8.75em; 
    height: 150px;*/
    /*width: 100%;*/
    border-color: #eee;
    border: 0.425em solid rgba( 255, 255, 255, .5 ); /* 10 */

    -webkit-box-shadow: 0 0 0.313em rgba( 0, 0, 0, .05 ); /* 5 */
    box-shadow: 0 0 0.313em rgba( 0, 0, 0, .05 ); /* 5 */

    -webkit-transition: -webkit-box-shadow .3s ease, border-color .3s ease;
    transition: box-shadow .3s ease, border-color .3s ease;

    border: none;

}
                        
.green_arrow img 
{
    margin-top: 6px;
}

.page_div
{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.links
{
  background-color: #333333;
  display: inline-block;
  color: #fff;
  font-size: 17px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.links_active div
{
  background-color: #00aebd;
}

.links_active div:hover
{
  cursor: default;
}

.links:hover
{
  background-color: #00aebd;
  cursor: pointer;
}

.no_link
{
  display: none;
}

.prev_link, .next_link
{
    padding: 10px;
    padding-top: 7px;
}

#filters
{
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  display: table;
  padding: 0;
}

#filters li
{
  float: none;
  display: inline-block;
  width: 160px;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}

#filters li span:hover
{
  opacity: 0.75;
  cursor: pointer;
}

#filters li span
{
  font-family: 'Raleway-SemiBold';
  color: #fff;
  text-transform: uppercase;
}

#filters li.active
{
  background: #17191b;
  padding: 4px;
  padding-left: 1px;
  padding-right: 1px;
}

.div_filters
{
  display: none;
}

.active_div
{
  display: block;
}

.gallery_row
{
  padding-left: 2% !important;
  padding-right: 2% !important;
}

.gallery_cols
{
  padding-left: 0.5%;
  padding-right: 0%;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
}

.gallery_cols img
{
  width: 100%;
  border: solid 4px transparent;
  border-radius: 4px;

  transition: all .25s;
  

}

.gallery_cols:hover img
{
  /*opacity: 0.75;*/
  cursor: pointer;
  border-color: #fff;
  transform: scale(0.98);
}

.g_spans
{
  display: block;
}

.gallery_title
{
  text-align: center;
}

.gallery_title span
{
  font-family: 'Raleway-SemiBold';
  color: #fff;
  font-size: 14px;
}

.gallery_background
{
    position: absolute;
    left: 2%;
    bottom: 0;
    height: 125px;
    background-color: #332f2e;
    opacity: 0.8;
    width: 98%;
}


@media only screen and (max-width: 1200px) {

  .client_list_div
  {
    padding-bottom: 13%;
  }

  #portfoliolist .portfolio
  {
    width: 33.33%;
  }
}

@media screen and (max-width: 986px) {

  .gallery_cols
  {
    width: 31.5%;
  }

  .vid_gallery .gallery_cols
  {
    width: 33%;
  }

  .vid_gallery .gallery_title span
  {
    font-size: 12px;
  }

  .last_div
  {
    margin-left: 17%;
  }
}

@media only screen and (max-width: 900px) {

  #html5-elem-box
  {
    position: absolute !important;
    height: 79% !important;
    width: 100% !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
    background-color: transparent  !important;
  }

}


@media only screen and (max-width: 768px) {

  .arrow-up-right, .arrow-up-left, .arrow-up-right_footer, .arrow-up-left_footer
  {
      border-top-width: 60px !important;
  }

  .fancybox-nav span
  {
    visibility: visible !important;
  }

  .title_span_div span
  {
    font-size: 20px;
  }

  .con_divs span
  {
    font-size: 14px;
  }

  .gallery_cols
  {
    width: 48%;
  }

  .vid_gallery .gallery_cols
  {
    width: 50%;
  }

  .last_div
  {
    margin-left: 0;
  }

  .footer_div_1
  {
    top: -30%;
  }

  .footer_copy_div 
  {
    left: 0; 
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
  }

  #html5-elem-box
  {
    position: absolute !important;
    height: 69% !important;
    width: 100% !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
    background-color: transparent  !important;
  }

  #html5-next, #html5-prev
  {
    display: block !important;
  }
}

@media only screen and (max-width: 520px) {

  #html5-elem-box
  {
    position: absolute !important;
    height: 50% !important;
    width: 100% !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
    background-color: transparent  !important;
  }

}
@media only screen and (max-width: 520px) {

  .vid_gallery .gallery_cols
  {
    width: 100%;
    position: relative;
    text-align: center;
  }

  .vid_gallery .gallery_cols img
  {
    width: 80%;
  }

  .thumbnail
  {
    margin-right: 0;
  }

  .title_span_div span
  {
    font-size: 13px;
  }
}
@media only screen and (max-width: 660px) {

  .client_list_div
  {
    padding-bottom: 23%;
  }

  #portfoliolist .portfolio
  {
    width: 100%;
  }
}


@media only screen and (max-width: 480px) {

  .main_div_2
  {
    padding-top: 10%;
    padding-bottom: 9%;
  }
}

@media screen and (max-width: 520px) {

  .gallery_row 
  {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }
  
  .gallery_cols 
  {
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
  }

  .gallery_cols img
  {
    width: 80%;
  }

  .gallery_background 
  {
    left: 0;
    bottom: 0;
    height: 98px;
    width: 100%;
  }

  .gallery_inside_div 
  {
    position: absolute;
    left: 0;
    bottom: -6%;
    height: 125px;
    z-index: 99;
    display: table;
    padding: 10%;
    text-align: left;
  }

}

@media only screen and (max-width: 470px) {

  .client_list_div
  {
    padding-bottom: 27%;
  }
}

@media only screen and (max-width: 400px) {

  .footer
  {
    height: 19%;
  }
  
  .footer_div_1 span
  {
    font-size: 40px;
  }

  .footer_img_div img
  {
    height: 24px;
  }
}

@media only screen and (max-width: 320px) {


  .title_span_div span
  {
    font-size: 16px;
  }

  .con_divs span
  {
    font-size: 14px;
  }
}