.top_div
{
	width: 100%;
	/*max-height: 620px;*/
	/*background-image: url('../img/slide_2.jpg'); 
    background-position: 50% 30%; 
    background-size: cover;
    background-repeat: no-repeat; */
}

.top_div img
{
	width: 100%;
	/*display: none;*/
}

.white_strip
{
	width: 100%;
    height: 10px;
	background-color: #fff;
}

.orange_strip
{
    width: 100%;
    padding: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15%;
    background-color: #f37321;
}

.orange_strip span
{
    font-family: 'ParisinePlusPtf-Bold';
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

.what_div
{
	width: 100%;
	background-color: #e6e6e6;
	padding-top: 5%;
	padding-bottom: 2%;
}

.owl_slider
{
	/*padding: 0;*/
	width: 90%;
}

.left_rect_arrow 
{
    width: 5%;
    margin-right: 1%;
}

#owl-demo
{
	width: 86%;
    float: left;
}

.right_rect_arrow 
{
    width: 5%;
    margin-left: 1%;
}

.what_slider
{
	width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.item_cont
{
	margin-top: 3%;
	color: #5d5d5c;
	font-family: 'PraxisLT-Light';
	font-size: 16px;
	padding: 10px;
	display: none;
}

.active_cont
{
	display: block;
}

.active_item
{
	padding: 2px;
    border: solid 3px #00aebd;
}

.single_div
{
	width: 31%;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 15px;
    text-align: center;
    float: left;
}

.single_divs
{
	display: inline-block;
}

.single_divs span
{
	font-family: 'ParisinePlusPtf-Bold';
	font-size: 17px;
	color: #5d5d5c;
}

.act_img_div
{
	width: 100%;
	height: 180px;
	background-position: center;
    background-size: contain;
    background-repeat: no-repeat; 
    margin-top: 10px;
}
.single_divs img
{
	width: 90%;
	margin-top: 10px;
}

.single_left
{
	width: 100%;
}

.single_right
{
	width: 70%;
	padding: 10px;
	position: relative;
	top: 50%;
	transform: translateY(36%);
}

.single_right p
{
	font-family: 'PraxisLT-Light';
	font-size: 16px;
	color: #5d5d5c;
}

/*.cat_dir, .cat_divs
{
	display: none;
}*/

/*.active_div
{
	display: block;
}*/

.cat_dir
{
	display: none;
}

.active_cont
{
	display: block;
}

.reg_div
{
	width: 100%;
    text-align: left;
    margin-top: 25px;
}

.reg_btn, .more_btn
{
	color: #fff;
    background-color: #00aebd;
    border: solid 1px #00aebd;
    font-family: 'PraxisLT-Light';
    font-size: 15px;
    border-radius: 10px;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
}

.reg_btn:hover, .reg_btn:focus, .reg_btn:active, .more_btn:hover, .more_btn:focus, .more_btn:active
{
	color: #00aebd !important;
    background-color: #fff !important;
    border-color: #00aebd !important;
    cursor: pointer !important;
}

.md-content 
{
    background-color: rgba(0,174,189,0.6) !important;
    padding: 20px;
    padding-top: 1px;
    padding-bottom: 2px;
    border: solid 2px #fff;
    border-radius: 10px !important;
}

.submit_btn
{
	float: none;
	font-size: 19px !important;
}

.submit_btn:hover
{
	border-color: #fff;
}

.md-close_2 
{
    top: -40px;
}

#gform_4, #gforms_confirmation_message
{
    display: none;
}
.md-content img
{
    width: 50px;
    margin-right: 10px;
}

#modal-5 span
{
	margin-top: 15px;
	color: #fff;
}

#modal-5 img 
{
	width: 35%;
}

#modal-5 p 
{
	color: #fff;
    font-family: 'PraxisLT-Light';
    font-size: 15px;
}

.more_text
{
	padding-bottom: 0 !important;
}

.footer_bg
{
	width: 100%;
}

.footer_strip
{
	width: 100%;
    height: 2px;
	background-color: #00aebd;
}

.footer_bg img
{
	width: 100%;
}

.md-modal
{
	width: 86% !important;
}

.cat_divs:hover
{
	opacity: 0.75;
	cursor: pointer;
}

.more_text a 
{
	color: #fff !important;
}

@media screen and (max-width: 1200px) {

	.what_slider
	{
		width: 87%;
	}

	.reg_div
	{
		margin-top: 0;
	}
	.reg_btn
	{
		font-size: 14px;
	}
}
@media screen and (max-width: 768px) {

    .what_slider
    {
    	width: 85%;
    }

    .owl_slider
    {
    	width: 100%;
    }

    .single_div 
    {
	    width: 100%;
	    margin-top: 20px;
	    margin-bottom: 30px;
	}

	.single_left 
	{
    	width: 100%;
	}

	.single_divs img 
	{
	    width: 45%;
	    display: block;
	    margin-top: 10px;
	    margin-left: auto;
	    margin-right: auto;
	}

	.reg_div 
	{
	    width: 100%;
	    text-align: center;
	    margin-top: 25px;
	}

	.single_right 
	{
	    width: 100%;
	    padding: 10px;
	    margin-top: 15px;
	    position: relative;
	    transform: none;
	}

	.act_img_div 
	{
	    width: 60%;
	    height: 200px;
	    margin-left: auto;
	    margin-right: auto;
	}

}

@media screen and (max-width: 650px) {

    #owl-demo
    {
    	width: 95%;
    }

}

@media screen and (max-width: 450px) {

    #modal-5 img 
	{
		width: 60%;
	}

}